*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region ***********DEBUG*********** */


/* #endregion ***********DEBUG*********** */

/* #region ***********UTILITY*********** */


/* #endregion ***********UTILITY*********** */

/* #region ***********MAIN*********** */

/* SIDEBAR */


/* MAIN CONTENT */

/* #endregion ***********MAIN*********** */

/* #region ***********FOOTER*********** */


/* #endregion 
***********FOOTER*********** */