*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
/* #region ***********DEBUG*********** */
.debug main{
    height: 90vh;
    background-color: aqua;
}
.debug #main_content{
    height: 100%;
    width: 80vw;
    background-color: hotpink;
}
.debug aside{
    width: 20%;
    background-color: greenyellow;
}
.debug #site_footer{
    height: 10vh;
    background-color: gray;
}
/* #endregion ***********DEBUG*********** */


/* #region ***********UTILITY*********** */
.flex{
    display: flex;
}
.pad_0_2rem{
    padding: 0 2rem;
}

.btn_h50{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0rem 3rem;
    text-transform: uppercase;
    border-radius: 50px;
}
.btn_white{
    color: white;
    border: 1px solid white;
}
/* #endregion ***********UTILITY*********** */

/* #region ***********COMMON*********** */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
main{
    height: 90vh;
}
h3{
    text-transform: uppercase;
    margin: 1rem 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* #endregion ***********COMMON*********** */

/* #region ***********MAIN*********** */

/* SIDEBAR */
aside.flex{
    flex-direction: column;
    justify-content: space-between;
}
main > aside{
    height: 100%;
    width: 20vw;
    background-color: black;
    padding:1rem 0;
    font-size: 1.2rem;
    color: #808080;
}

.logo{
    width: 70%;
    margin: 1rem 0;
}
aside>nav img[src$=".svg"]:not(.current_selection>*,.logo),
.dl_app img[src$=".svg"]{
    filter: invert(54%) sepia(0%) saturate(1%) hue-rotate(177deg) brightness(92%) contrast(86%);
}


.home_controls img{
    width: 50px;
    vertical-align: middle;    
}
.home_controls li{
    padding: .5rem 2rem;
}
aside .current_selection{
    color: white;
    border-left: 3px solid #ADFF2F;
}

.add_icon{
    display: inline-block;
    height:60px;
    width:60px;
    background: #a3a3a3;
    color:black;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    margin-right:.5rem;
}
.playlist,
.playlist li,
.home_controls{
    margin: 2rem 0;
}
.playlist > ul{
    max-height: calc(100vh - 65vh);
    min-height: calc(100vh - 95vh);
    overflow-y: auto;
}
.playlist h3{
    color: white;
}
.dl_app , 
.account{
    padding: 1rem 0;
}
.dl_app > img{
    width: 30px;
    vertical-align: middle;
    margin-right: 1rem;
}
.account{
    border-top: 1px solid#808080;
}
.account > img{
    width:40px;
    height: 40px;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1rem;
}
.account > h3{
    color: white;
    display: inline-block;
    text-transform:capitalize;
}

/* MAIN CONTENT */
#main_content{
    width:80vw;
    background-color: #141922;
}
.upgrade{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}
.upgrade>.btn_h50{
    float:right;
}

.menu ul{
    text-align: center;
}
.menu li{
    display: inline-block;
    color: #808080;
    margin: 1rem;
}
.menu .current_selection{
    
}
/* #endregion ***********MAIN*********** */

/* #region ***********FOOTER*********** */
#site_footer{
    background-color: gray;
    height: 10vh;
}

/* #endregion 
***********FOOTER*********** */