*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region ***********DEBUG*********** */
.debug main{
    height: 90vh;
    background-color: aqua;
}
.debug #main_content{
    height: 100%;
    width: 80vw;
    background-color: hotpink;
}
.debug aside{
    width: 20vw;
    background-color: greenyellow;
}
.debug #site_footer{
    height: 10vh;
    background-color: gray;
}
/* #endregion ***********DEBUG*********** */


/* #region ***********UTILITY*********** */
.flex{
    display: flex;
}
/* #endregion ***********UTILITY*********** */

/* #region ***********COMMON*********** */
/* #endregion ***********COMMON*********** */

/* #region ***********MAIN*********** */

/* SIDEBAR */
main > aside{
    height: 90vh;
    width: 20vw;
    background-color: black;
}

/* MAIN CONTENT */

/* #endregion ***********MAIN*********** */

/* #region ***********FOOTER*********** */


/* #endregion 
***********FOOTER*********** */