*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region ***********DEBUG*********** */
.debug main{
    height: 90vh;
    background-color: aqua;
}
.debug #main_content{
    height: 100%;
    width: 80vw;
    background-color: hotpink;
}
.debug aside{
    width: 20vw;
    background-color: greenyellow;
}
.debug #site_footer{
    height: 10vh;
    background-color: gray;
}
/* #endregion ***********DEBUG*********** */


/* #region ***********UTILITY*********** */
.flex{
    display: flex;
}
.current_selection{
    color: white;
}
/* #endregion ***********UTILITY*********** */

/* #region ***********COMMON*********** */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
nav h3{
    text-transform: uppercase;
    color: white;
    margin: 1rem 0;
}
/* #endregion ***********COMMON*********** */

/* #region ***********MAIN*********** */

/* SIDEBAR */
main > aside{
    height: 90vh;
    width: 20vw;
    background-color: black;
    padding:1rem 2rem;
    font-size: 1.2rem;
    color: #808080;
}
.logo{
    width: 80%;
    margin: 1rem 0;
}
aside ul{
    list-style: none;
}

#home_controls img{
    width: 50px;
    vertical-align: middle;
}
#home_controls li{
    margin: 1rem 0;
}

.add_icon{
    display: inline-block;
    height:60px;
    width:60px;
    background: #a3a3a3;
    color:black;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
}
#user_playlist{
    margin: 3rem 0;
}
#user_playlist li{
    margin: 2rem 0;
}


#sidebar_footer{
}
.dl_app,.user{
    padding: 1rem 0;
}
.dl_app > img{
    width: 30px;
    vertical-align: middle;
    margin-right: 1rem;
}

.user > img{
    width:40px;
    height: 40px;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1rem;
}
.user > h3{
    color: white;
    display: inline-block;
    text-transform:capitalize;
}
/* MAIN CONTENT */

/* #endregion ***********MAIN*********** */

/* #region ***********FOOTER*********** */


/* #endregion 
***********FOOTER*********** */