*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
/* #region ***********DEBUG*********** */
.debug main{
    height: 90vh;
    background-color: aqua;
}
.debug #main_content{
    height: 100%;
    width: 80vw;
    background-color: hotpink;
}
.debug .sidebar{
    width: 20%;
    background-color: greenyellow;
}
.debug #player{
    height: 200px;
    background-color: gray;
}
/* #endregion ***********DEBUG*********** */


/* #region ***********UTILITY*********** */
.flex{
    display: flex;
}
.pad_0_2rem{
    padding: 0 2rem;
}

.btn_h50{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0rem 3rem;
    text-transform: uppercase;
    border-radius: 50px;
}
.btn_white{
    color: white;
    border: 1px solid white;
}
.subtitle{
    color:#808080;
}
/* #endregion ***********UTILITY*********** */

/* #region ***********COMMON*********** */
body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    overflow: hidden;
}
main{
    height: calc(100% - 120px);
}
h1{
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem 0;
}
h3{
    text-transform: uppercase;
    margin: 1rem 0;
}
h4{
    margin: 1rem 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* #endregion ***********COMMON*********** */

/* #region ***********MAIN*********** */

/* SIDEBAR */
.sidebar{
    width: 300px;
    background-color: black;
    padding: 1rem 0;
    color: #808080;
    overflow:hidden;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    width: 70%;
    margin: 1rem 0;
}
.sidebar>nav img[src$=".svg"]:not(.current_selection>*,.logo),
.dl_app img[src$=".svg"]{
    filter: invert(54%) sepia(0%) saturate(1%) hue-rotate(177deg) brightness(92%) contrast(86%);
}


.home_controls img{
    width: 40px;
    vertical-align: middle;    
}
.home_controls li{
    padding: .5rem 2rem;
}
.sidebar .current_selection{
    color: white;
    border-left: 3px solid #ADFF2F;
}

.add_icon{
    display: inline-block;
    height:50px;
    width:50px;
    line-height: 50px;
    font-size: 50px;
    background: #a3a3a3;
    color:black;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    margin-right:.5rem;
}
.playlist,
.playlist li,
.home_controls{
    margin: 2rem 0;
}
.playlist > ul{
    max-height: calc(100vh - 85vh);
    min-height: calc(100vh - 97vh);
    overflow-y: auto;
}
.playlist h3{
    color: white;
}
.dl_app , 
.account{
    padding: 1rem 0;
}
.dl_app > img{
    width: 30px;
    vertical-align: middle;
    margin-right: 1rem;
}
.account{
    border-top: 1px solid#808080;
}
.account > img{
    width:40px;
    height: 40px;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1rem;
}
.account > h3{
    color: white;
    display: inline-block;
    text-transform:capitalize;
}

/* MAIN CONTENT */
#main_content{
    width: calc(100vw - 300px);
    background-color: #141922;
    overflow-y: auto;
}
.upgrade{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}
.upgrade>.btn_h50{
    float:right;
}

.menu ul{
    text-align: center;
}
.menu li{
    display: inline-block;
    color: #808080;
    margin: 1rem;
}

.suggested{
    margin: 2rem;
}
.pl_title{
    margin: 3rem 0;
}
.covers_container{
    margin: 0 -.5rem;
    flex-wrap: wrap;
}
.song_wrapper{
    max-width: 250px;
    padding: 0 .5rem;
}
.song_wrapper > img{
    width: 100%;
}
.artist_circle{
    border-radius: 50%;
}
.song_name{
    text-align: center;
    color: #808080;
}
.song_name > h3{
    color:white;
    text-transform: none;
}
/* #endregion ***********MAIN*********** */

/* #region ***********FOOTER*********** */
#player{
    background-color: #282828;
    height: 120px;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

.now_playing.flex{
    flex-wrap: wrap;
    height: 60%;
    align-items: center;
    justify-content: space-between;
}
.now_playing > img{
    height: 100%;
}
.now_title{
    margin: 0 1rem;
}
.now_title:hover > *{
    text-decoration: underline;
}
.now_title > h4:first-of-type{
    color:white;
    margin: .1rem 0;
}
.save_actions{
    color: #808080;
    margin-left: 1rem;
}

.save_actions > i,
.audio_controls i{
    margin: 0 .5rem;
    font-size: 1.2rem;
}
.player_buttons> i{
    margin: 0 1rem;
    font-size: 1.5rem;
    vertical-align: middle;
}
.controls_middle{
    flex-direction: column;
    align-items: center;
}
.player_buttons,
.play_time,
.audio_controls{
    color: white;
}
.player_buttons> i:nth-child(3){
    margin: 0 2rem;
    font-size: 3rem;
}

.play_time{
    align-items: center;
    margin: 1rem 0;
}
.time_bar{
    width: 30vw;
    height:5px;
    border-radius: 2.5px;
    background: #5a5a5a;
    position:relative;
    margin: 0 2rem;
}
.white_bar{
    background: #c1c1c1;
    width: 20%;
    height:5px;
    border-radius: 2.5px;
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
}
.volume_bar{
    display: inline-block;
    width: 5vw;
    height:5px;
    border-radius: 2.5px;
    background: #5a5a5a;
    position:relative;
    margin: 0 .5rem;
    vertical-align: middle;
    transform: translateY(-50%);
}
/* #endregion 
***********FOOTER*********** */