*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
/* #region ***********DEBUG*********** */
.debug main{
    height: 90vh;
    background-color: aqua;
}
.debug #main_content{
    height: 100%;
    width: 80vw;
    background-color: hotpink;
}
.debug .sidebar{
    width: 20%;
    background-color: greenyellow;
}
.debug #player{
    height: 200px;
    background-color: gray;
}
/* #endregion ***********DEBUG*********** */


/* #region ***********UTILITY*********** */
.flex{
    display: flex;
}
.pad_0_2rem{
    padding: 0 2rem;
}

.btn_h50{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0rem 3rem;
    text-transform: uppercase;
    border-radius: 50px;
}
.btn_white{
    color: white;
    border: 1px solid white;
}
.subtitle{
    color:#808080;
}
/* #endregion ***********UTILITY*********** */

/* #region ***********COMMON*********** */
body{
    height: 100vh;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    overflow: hidden;
}
main{
    height: calc(100% - 100px);
}
h1{
    color: white;
    font-size: 1.7rem;
    /* font-weight: 800; */
    margin: 1rem 0;
}
h3{
    text-transform: uppercase;
    margin: 1rem 0;
}
h4{
    margin: 1rem 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/* #region scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.4); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #808080; 
  }
/* #endregion scrollbar */
/* #endregion ***********COMMON*********** */

/* #region ***********MAIN*********** */

/* SIDEBAR */
.sidebar{
    width: 270px;
    background-color: black;
    padding: 1rem 0;
    color: #808080;
    overflow:hidden;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar > nav{
    overflow: hidden;
    min-height: 300px;
}
.logo{
    width: 80%;
    margin-top: 1rem;
}
img[src$=".svg"]:not(.white_svg){
    filter: invert(54%) sepia(0%) saturate(1%) hue-rotate(177deg) brightness(92%) contrast(86%);
}


.home_controls img{
    width: 40px;
    vertical-align: middle;    
}
.home_controls li{
    padding: 5px 2rem;
}
.sidebar .current_selection{
    color: white;
    border-left: 3px solid #ADFF2F;
}
.home_controls li:hover{
    color: white;
}
.home_controls li:hover img{
    filter: none;
}

.playlist h3{
    color: white;
}
.add_icon{
    display: inline-block;
    height:50px;
    width:50px;
    line-height: 50px;
    font-size: 50px;
    background: #a3a3a3;
    color:black;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    margin-right:.5rem;
}
.playlist,
.playlist li:not(li:first-child),
.home_controls{
    margin: 1.5rem 0;
}
.playlist > ul{
    max-height: calc(100vh - 74vh);
    min-height: calc(100vh - 97vh);
    overflow-y: auto;
    margin-top:2rem;
}
.add_pl:hover .add_icon{
    background: white;
}
.add_pl:hover span{
    color: white;
    /* text-decoration: underline; */
}
.playlist a:hover{
    color: white;
}

.sidebar_footer > a{
    display: block;
}
.dl_app{
    padding: .5rem 0;
}
.dl_app > img{
    width: 30px;
}
.dl_app>img,
.account>img{
    vertical-align: middle;
    margin-right: 0.5rem;
}
.dl_app:hover img{
    filter: none;
}
.dl_app:hover{
    color: white;
}
.account{
    padding-top: .5rem;
    border-top: 1px solid#808080;
}
.account > img{
    width: 35px;
    height: 35px;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
}
.account > h3{
    color: white;
    display: inline-block;
    text-transform:capitalize;
}
.account:hover h3{
    text-decoration: underline;
}
.account:hover img{
    background-color: #c1c1c1;
}


/* MAIN CONTENT */
#main_content{
    width: calc(100vw - 270px);
    background-color: #141922;
    overflow-y: auto;
}
.upgrade{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}
.upgrade>.btn_h50{
    float:right;
}
.upgrade>.btn_h50:hover{
    transform: scale(110%);
}

.menu ul{
    text-align: center;
}
.menu li{
    display: inline-block;
    color: #808080;
    margin: 0px .5rem;
    position: relative;
}
.menu h3{
    font-size: .9rem;
}
.menu li::after{
    content: "";
    width:50px;
    height: 3px;
    background-color: #ADFF2F;
    position:absolute;
    bottom: .5rem;
    left:50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .15s;
}
.menu li.current_selection::after,
.menu li:hover::after{
    visibility: visible;
    opacity: 1;
}
.menu li:hover:not(.current_selection)::after{
    background: #a3a3a394;
}
.menu li:hover{
    color: white;
}
.suggested{
    margin: 2rem;
}
.pl_title{
    display: inline-block;
    margin: 1rem 0 2rem;
}
.covers_container{
    margin: 0 -.5rem;
    flex-wrap: wrap;
}
.song_wrapper{
    width: calc(100% / 6);
    padding: 0 .5rem 2rem;
}
.song_wrapper img{
    width: 100%;
}
.cover_img{
    position:relative;    
}
.play_hidden.flex{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.3);
    font-size: 80px;
    color: white;
    justify-content:center;
    align-items: center;
    display: none;
}
.artist_circle, .artists .play_hidden.flex{
    border-radius: 50%;
}

.song_wrapper:hover .play_hidden.flex{
    display: flex;
}
/* .song_wrapper:hover .song_name>span{
    text-decoration: underline;
} */
.song_name{
    display:block;
    text-align: center;
    color: #808080;
}
.song_name > h3{
    font-size: 1.3rem;
    color:white;
    text-transform: none;
    margin: 1rem 0 .5rem 0;
}

/* #endregion ***********MAIN*********** */

/* #region ***********FOOTER*********** */
#player{
    background-color: #282828;
    height: 100px;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

.now_playing.flex{
    height: 60%;
    align-items: center;
    justify-content: space-between;
}
.now_wrapper{
    height: 100%;
    align-items: center;
}
.now_wrapper img{
    height: 100%;
    transition: transform .5s;
}
.now_title{
    margin: 0 1rem;
    display: inline-block;
}
.now_wrapper:hover .now_title > *{
    text-decoration: underline;
}
.now_wrapper:hover img{
    transform: scale(104%);
}
.now_title > h4:first-of-type{
    color:white;
    margin: .1rem 0;
}
.save_actions{
    color: #808080;
}

.save_actions > a:hover{
    color: white;
}

.save_actions a,
.audio_controls a{
    margin:.5rem;
    font-size: 1.2rem;
}
.player_buttons > a{
    margin: 0 1rem;
    font-size: 1.3rem;
    vertical-align: middle;
}
.player_buttons > a:nth-child(3){
    font-size: 2.5rem;
}
.controls_middle{
    flex-direction: column;
    align-items: center;
}
.player_buttons,
.play_time,
.audio_controls{
    color: white;
}


.play_time{
    align-items: center;
    margin: 10px 0;
    font-size: .9rem;
}
.time_bar{
    width: 40vw;
    height:5px;
    border-radius: 2.5px;
    background: #5a5a5a;
    position:relative;
    margin: 0 2rem; 
}
.white_bar{
    background: #c1c1c1;
    width: 30%;
    height:5px;
    border-radius: 2.5px;
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
}
.time_slider_circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    visibility: hidden;
    cursor:pointer
}
.time_bar:hover .white_bar,
.volume_bar:hover .white_bar{
    background: #ADFF2F;
}
.time_bar:hover .time_slider_circle,
.volume_bar:hover .time_slider_circle{
    visibility: visible;
}

.audio_controls.flex{
    align-items: center;
    flex-wrap: wrap;
}
.volume_bar{
    display: inline-block;
    width: 5vw;
    height:5px;
    border-radius: 2.5px;
    background: #5a5a5a;
    position:relative;
    margin: 0 .5rem;
    vertical-align: middle;
    transform: translateY(-50%);
}
/* #endregion ***********FOOTER*********** */

/* #region ***********MEDIAQUERY*********** */
@media screen and (max-width:1024px) {
    .song_wrapper {
        width: calc(100% / 4);
    }
    .song_name h3{
        font-size: 1rem;
    }
    .song_name span{
        font-size: .8rem;
    }
    .play_hidden.flex{      
        font-size: 50px;
    }
}
@media screen and (max-width:768px) {
    .song_wrapper {
        width: calc(100% / 2);
    }
}
/* #endregion ***********MEDIAQUERY*********** */