*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region ***********DEBUG*********** */
.debug main{
    height: 90vh;
    background-color: aqua;
}
.debug #main_content{
    height: 100%;
    width: 80vw;
    background-color: hotpink;
}
.debug aside{
    width: 20vw;
    background-color: greenyellow;
}
.debug #site_footer{
    height: 10vh;
    background-color: gray;
}
/* #endregion ***********DEBUG*********** */


/* #region ***********UTILITY*********** */
.flex{
    display: flex;
}
.pad_0_2rem{
    padding: 0 2rem;
}
/* #endregion ***********UTILITY*********** */

/* #region ***********COMMON*********** */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
nav h3{
    text-transform: uppercase;
    color: white;
    margin: 1rem 0;
}
/* #endregion ***********COMMON*********** */

/* #region ***********MAIN*********** */

/* SIDEBAR */
aside.flex{
    flex-flow: column wrap;
    justify-content: space-between;
}
main > aside{
    height: 90vh;
    width: 20vw;
    background-color: black;
    padding:1rem 0;
    font-size: 1.2rem;
    color: #808080;
}
aside ul{
    list-style: none;
}

.logo{
    width: 70%;
    margin: 1rem 0;
}
aside>nav img[src$=".svg"]:not(.current_selection>*,.logo),
.dl_app img[src$=".svg"]{
    filter: invert(54%) sepia(0%) saturate(1%) hue-rotate(177deg) brightness(92%) contrast(86%);
}
.home_controls img{
    width: 50px;
    vertical-align: middle;    
}
.home_controls li{
    padding: .5rem 2rem;
}
.current_selection{
    color: white;
    border-left: 3px solid #ADFF2F;
}


.add_icon{
    display: inline-block;
    height:60px;
    width:60px;
    background: #a3a3a3;
    color:black;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    margin-right:.5rem;
}
.user_playlist,
.user_playlist li,
.home_controls{
    margin: 2rem 0;
}

.dl_app , 
.account{
    padding: 1rem 0;
}
.dl_app > img{
    width: 30px;
    vertical-align: middle;
    margin-right: 1rem;
}
.account{
    border-top: 1px solid#808080;
}
.account > img{
    width:40px;
    height: 40px;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1rem;
}
.account > h3{
    color: white;
    display: inline-block;
    text-transform:capitalize;
}
/* MAIN CONTENT */

/* #endregion ***********MAIN*********** */

/* #region ***********FOOTER*********** */


/* #endregion 
***********FOOTER*********** */